*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  
}

a{
  text-decoration: none;
  color: #000;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

body{
  background-color: #fff;
}

p{
  margin-bottom: 0;
}

textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
} 

button{
  cursor: pointer;
}